#nav {
    background-color: #ffc107;
}

.form-group {
    margin-top: auto; 
    margin-bottom: 20px; 
}

@media (max-width: 767px) {
    .form-check-label {
        display: block; 
        margin-bottom: 10px; 
    }
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}